body {
    background: url('https://www.transparenttextures.com/patterns/cubes.png'), linear-gradient(to right, #ff9af7, #c4fafa);
    color: #050505;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    margin-top: 15px;
}

.art-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-custom {
    background-color: #88016b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-custom:hover {
    background-color: #ffffff;
}

.art-styles {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.style-card {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 220px;
}

.style-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.style-card h3 {
    color: #88016b;
}

